BasedOnStyle: Google
IndentWidth: 3
Language: Cpp
UseTab: Never
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: None
AlwaysBreakBeforeMultilineStrings: true
AlignAfterOpenBracket: true
AlwaysBreakTemplateDeclarations: true
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Stroustrup
PointerAlignment: Left
