BasedOnStyle: Google
IndentWidth: 2
UseTab: Never
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: None 
AllowShortLambdasOnASingleLine: None
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: true
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
