CompileFlags:
    Add: [-xc++, -Wall, -std=c++23, -D__cpp_concepts=202002L]
    Remove: [-W*, -m*, --sysroot]
    Compiler: g++
Index:
    Background: Build
    StandardLibrary: Yes
Diagnostics:
    UnusedIncludes: Strict
Completion:
    AllScopes: Yes
InlayHints:
    Enabled: Yes
    ParameterNames: Yes
    DeducedTypes: Yes
Hover:
    ShowAKA: Yes
