
BasedOnStyle: Google
IndentWidth: 3
Language: Cpp
UseTab: Never
ColumnLimit: 100
PackConstructorInitializers: NextLine
AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: All
AlwaysBreakBeforeMultilineStrings: true
AlignAfterOpenBracket: true
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Stroustrup
DerivePointerAlignment: false
